<ul class="list-group list-group-flush">
	{% for bug in bugs.all %}
		<a
			class="list-group-item list-group-item-action py-3 text-dark text-decoration-none"
			href="{%url 'bugs:detail' bug.id %}"
		>
			<span class="fs-5">{{ bug.title }}</span>
			
			{% if show_projects %}
				<span class="text-secondary">({{ bug.project.title }})</span>
			{% endif %}
			
			{% if show_status %}
				{% for status in bug.status_tuples %}
					{% if bug.status == status.0 %}
						- <span class="text-{{ status.1 }}">{{ bug.status|title }}</span>
					{% endif %}
				{% endfor %}
			{% endif %}
			
			{% if show_assigned %}
				{% if member in bug.assigned_members.all %}
					<span class="badge bg-info">assigned</span>
				{% endif %}
			{% endif %}
			
			{% if bug.creator == member %}
				<span class="badge bg-primary">creator</span>
			{% endif %}
		</a>
	{% endfor %}
</ul>