{% extends "core/base.html" %}

{% block title %}Bug page{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-9">
			<div class="d-flex align-items-center">
				<h1 class="me-auto">{{ bug.title }}</h1>
				
				{% if bug.status in bug.ACTIVE_STATUS and request.user in bug.assigned_members.all %}
					<form action="{% url 'bugs:change_working_status' bug.id %}" method="POST">
						{% csrf_token %}
						
						{% if bug.status == bug.WORKING_STATUS %}
							<input name="starting" type="text" class="d-none" value="0">
							<button class="btn btn-secondary">Stop work</button>
						{% else %}
							<input name="starting" type="text" class="d-none" value="1">
							<button class="btn btn-success">Work on bug</button>
						{% endif %}
						
					</form>
				{% endif %}
				
				{% if isAdminOrSupervisor %}
					<a href="{% url 'bugs:update' bug.id %}">
						<button class="btn btn-danger ms-1">Edit Bug</button>
					</a>
				{% endif %}
			</div>
			
			<span class="text-secondary">Project:</span>
			<a href="{% url 'projects:detail' bug.project.id %}" class="text-decoration-none">
				{{ bug.project.title }}
			</a>
			<span class="text-secondary"> - Bug created in {{ bug.creationDate|date:"j M. Y" }} by </span>
			<a href="{% url 'members:detail' bug.creator.id %}" class="text-decoration-none">
				{{ bug.creator.name }}
			</a><span class="text-secondary">.</span>
			
			<br>
			<small class="text-secondary">Status:</small>
			<small class="{{ status_class }}">{{ bug.status|title }}</small>
			
			<div class="card bg-light border-0 mt-3">
				<div class="card-body">
					{{ bug.description }}
				</div>
			</div>
		</div>
		
		<div class="col-md d-flex flex-column">
			<h4>Assigned Members:</h4>
			{% if isAdminOrSupervisor and bug.status in bug.ACTIVE_STATUS %}
				<button class="btn btn-danger align-self-center" data-bs-toggle="modal" data-bs-target="#assign-modal">
					Assign a member
				</button>
			{% endif %}

			{% if bug.assigned_members.all %}
				<ul>
					{% for member in bug.assigned_members.all %}
						<li class="py-2">
							<a href="{% url 'members:detail' member.id %}" class="text-dark text-decoration-none fs-5">
								{{ member.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>No members assigned to this bug.</p>
			{% endif %}
		</div>
	</div>	


	<div class="modal" tabindex="-1" id="assign-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	
	      <div class="modal-header">
	        <h5 class="modal-title">Assign members to the bug</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      
	      <div class="modal-body">
	        <form id="assign_form" action="{% url 'bugs:assign_member' bug.id %}" method="POST">
				{% csrf_token %}
				
				<select class="form-select" name="member_id">
					{% for member in bug.project.members.all %}
						{% if member not in bug.assigned_members.all %}
							<option value="{{ member.id }}">{{ member.name }}</option>
						{% endif %}
					{% endfor %}
				</select>				
			</form>
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
	        <button type="submit" form="assign_form" class="btn btn-primary">Assign members</button>
	      </div>
	      
	    </div>
	  </div>
	</div>
{% endblock %}