{% extends "core/base.html" %}

{% block title %}Team members{% endblock %}

{% block content %}
	<div class="d-md-flex align-items-center">
		<h1 class="me-auto">Team members</h1>
		
		{% if request.user.is_superuser %}
			<a href="{% url 'members:register' %}" class="btn btn-success">Register New Member</a>
		{% endif %}
	</div>
	
	{% if members %}
		<small class="text-secondary">{{ members|length }} active member{{ projects|length|pluralize }} on the team.</small>
	
		<ul class="list-group list-group-flush mt-3">
		{% for member in members %}
			<a class="list-group-item py-3 list-group-item-action text-dark" href="{% url 'members:detail' member.id %}">
				{{ member.name }}
				{% if member.is_superuser %}
					<span class="badge bg-danger ms-2">Admin</span>
				{% endif %}
			</a>
		{% endfor %}
		</ul>
	{% else %}
		There are no members on the team.
	{% endif %}
{% endblock %}