{% extends "core/base.html" %}

{% block title %}Project Page{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-9">
			<div class="d-flex justify-content-between align-items-center">
				<h1>{{ project.title }}</h1>
				{% if isAdminOrSupervisor %}
					<a href="{% url 'projects:update' project.id %}">
						<button class="btn btn-danger">Edit Project</button>
					</a>
				{% endif %}
			</div>
			<small class="text-secondary">Status:</small>
			<small class="text-{{ status_class }}">{{ project.status|title }}</small>
			
			<div class="card bg-light border-0 mt-1">
				<div class="card-body">
					{{ project.description }}
				</div>
			</div>
			
			{% if project.status in project.ACTIVE_STATUS %}
				<a href="{% url 'bugs:create' %}?project={{ project.id }}" class="mt-4">
					<button class="btn btn-success mt-4">Report Bug</button>
				</a>
			{% endif %}
			
			{% if project.active_bugs.all %}
				{% if user_bugs.all %}
					<h3 class="text-primary mt-3">Your Bugs</h3>
					{% include 'bugs/bug_list_group.html' with bugs=user_bugs member=user show_status=True%}
					<h3 class="text-primary mt-3">Other project bugs</h3>
				{% else %}
					<h3 class="text-primary mt-3">Active bugs</h3>
				{% endif %}
				
				{% if other_bugs %}
					{% include 'bugs/bug_list_group.html' with bugs=other_bugs member=user show_status=True %}
				{% else %}
					<p>No other bugs.</p>
				{% endif %}
			{% else %}
				<h3 class="text-primary mt-3">Active Bugs</h3>
				<p>No bugs in the project.</p>
			{% endif %}
		</div>
		
		<div class="col-md d-flex flex-column">
			<h3>Supervisors:</h3>
			{% if isAdminOrSupervisor and project.status in project.ACTIVE_STATUS %}
				<button class="btn btn-danger align-self-center" data-bs-toggle="modal" data-bs-target="#supervisor-modal">
					Add Supervisor
				</button>
			{% endif %}
			
			{% if project.supervisors.all %}
				<ul>
					{% for supervisor in project.supervisors.all %}
						<li class="py-2">
							<a href="{% url 'members:detail' supervisor.id %}" class="text-dark text-decoration-none fs-5">
								{{ supervisor.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>This project has no supervisors.</p>
			{% endif %}
			
			
			<h3>Members:</h3>
			{% if isAdminOrSupervisor and project.status in project.ACTIVE_STATUS %}
				<button class="btn btn-danger align-self-center" data-bs-toggle="modal" data-bs-target="#member-modal">
					Add Member
				</button>
			{% endif %}
			
			{% if project.members.all %}
				<ul>
					{% for member in project.members.all %}
						<li class="py-2">
							<a href="{% url 'members:detail' member.id %}" class="text-dark text-decoration-none fs-5">
								{{ member.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>This project has no members.</p>
			{% endif %}	
		</div>
	</div>
	
	
	<!-- Add Member Modal -->
	<div class="modal" tabindex="-1" id="member-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	
	      <div class="modal-header">
	        <h5 class="modal-title">Add members to project</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      
	      <div class="modal-body">
	        <form id="add_member_form" action="{% url 'projects:add_member' project.id %}" method="POST">
				{% csrf_token %}
				
				<select multiple class="form-select" name="member_ids">
					{% for member in all_members.all %}
						{% if member not in project.members.all %}
							<option value="{{ member.id }}">{{ member.name }}</option>
						{% endif %}
					{% endfor %}
				</select>				
			</form>
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
	        <button type="submit" form="add_member_form" class="btn btn-primary">Add members</button>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	<!-- Add Supervisor Modal -->
	<div class="modal" tabindex="-1" id="supervisor-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	
	      <div class="modal-header">
	        <h5 class="modal-title">Add supervisors to project</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      
	      <div class="modal-body">
	        <form id="add_supervisor_form" action="{% url 'projects:add_supervisor' project.id %}" method="POST">
				{% csrf_token %}
				
				<select multiple class="form-select" name="supervisor_ids">
					{% for member in project.members.all %}
						{% if member not in project.supervisors.all %}
							<option value="{{ member.id }}">{{ member.name }}</option>
						{% endif %}
					{% endfor %}
				</select>				
			</form>
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
	        <button type="submit" form="add_supervisor_form" class="btn btn-primary">Add supervisors</button>
	      </div>
	      
	    </div>
	  </div>
	</div>
{% endblock %}