{% extends "core/base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
	<div class="d-md-flex align-items-center">
		<h1 class="me-auto">Projects</h1>
		
		<a href="{% url 'projects:create' %}" class="btn btn-success me-2">Create Project</a>
		
		{% if request.GET.show_inactive %}
			<a href="{% url 'projects:list' %}" class="btn btn-secondary">
				Hide Inactives
			</a>
		{% else %}
			<a href="{% url 'projects:list' %}?show_inactive=1" class="btn btn-outline-secondary">
				Show Inactives
			</a>
		{% endif %}
	</div>


	{% if projects %}
		{% if request.GET.show_inactive %}
			<small class="text-secondary">{{ projects|length }} project{{ projects|pluralize }}.</small>
		{% else %}
			<small class="text-secondary">{{ projects|length }} active project{{ projects|pluralize }}.</small>
		{% endif %}

		<div class="row mt-3">
			<div class="col-md-8"><h4>Title</h4></div>
			<div class="col-md"><h4>Supervisors</h4></div>
		</div>
		
		<ul class="list-group list-group-flush">
		{% for project in projects %}
			<a href="{% url 'projects:detail' project.id %}" class="list-group-item list-group-item-action py-3 text-dark">
				<div class="row">
					
					<div class="col-md-8">
						{{ project.title }}
						
						{% if request.GET.show_inactive %}
							{% for status in project.status_tuples %}
								{% if project.status == status.0 %}
									- <span class="text-{{ status.1 }}">{{ project.status|title }}</span>
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
					
					<div class="col-md">
						{% with project.supervisors.all as all_sup %}
							<span class="text-secondary text-md-dark">
								{% for supervisor in all_sup %}
									{% if supervisor != all_sup|first %},{% endif %}
									{{ supervisor.get_short_name }}
								{% endfor %}
							</span>
						{% endwith %}
					</div>
				</div>
			</a>
		{% endfor %}
		</ul>
	{% else %}
		No projects found
	{% endif %}
{% endblock %}