{% url 'bugs:list' as bug_url %}
{% url 'projects:list' as project_url %}
{% url 'members:list' as member_url %}
{% url 'member-profile' as profile_url %}
{% url 'members:login' as login_url %}
{% url 'members:logout' as logout_url %}

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
	<div class="container-fluid">
		{% if user.is_authenticated %}
			<a class="navbar-brand" href="/">Home</a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-4 me-auto mb-2 mb-md-0">
					{% include 'core/nav-item.html' with model="proj" name="Projects" link=project_url %}
					{% include 'core/nav-item.html' with model="bugs" name="Bugs" link=bug_url %}
					{% include 'core/nav-item.html' with model="memb" name="Members" link=member_url %}
					
				</ul>
				<ul class="navbar-nav">
					{% include 'core/nav-item.html' with model="prof" name="Profile" link=profile_url%}
					{% include 'core/nav-item.html' with name="Log out" link=logout_url %}
				</ul>
			</div>
		{% else %}
			<h4 class="text-light"><a class="nav-link text-light" href="/">Our Team's Bugtracker</a></h4>
		{% endif %}
	</div>
</nav>
